<main class="contenedor">
    <form action="/restablecer" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu Email" >
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Ya lo recorde</a>
        </div>
        <div class="campo">
            <input type="submit" value="Restablecer" class="btn btn-verde">
        </div>
    </form>
</main>